// * {
//     margin: 0;
//     padding: 0;
//     // position: relative;
// }

.container-navbar {
    width: 100%;
    display: flex;
    background-color: rgb(7, 1, 45);
    justify-content: space-between;
    color: white;
    .info {
        display: flex;
        align-items: center;
        font-size: bold;
        margin-left: 4%;
    }
    .mail{
        display: flex;
        align-items: center;

    }
    .google-map{
        text-decoration: none;
        color: white;
    }
    .login-button {
        display: flex;
        height: 30px;
        gap: 10px;
        width: 100px; 
        margin-right: 4%;
        align-items: center;
        .navbar-link {
            text-decoration: none;
            padding-right: 30px;
            color: white;
        }
    }   
        }



@media (max-width: 330px) {

    .container-navbar {
        font: bold 14px sans-serif;
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        margin-left: 0;
    }

}