.container-footer{
    display: flex;
    justify-content: space-around;
    color: rgb(21, 21, 21);
    background-color: rgb(243, 237, 237);
}
.footer-copy{
    text-align: center;
    background-color: rgb(243, 237, 237);
    color: red;
    display: flex;
    justify-content: space-around;
}
.images-footer{
    display: flex;
    gap: 10px;
}
.footer-para{
display: flex;
align-items: center;
width: 20%;
}

