.banner-container {
    padding-top: 120px;
    display: flex;
    width: 95%;
    .banner-text{
        padding: 4%;
        .banner-heading{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .banner-paragraph{
            font-family: 'Times New Roman', Times, serif;
        }
        
    }
    .banner-video{
        margin-top: 3%;
    }
  
}